/* HEADER WRAPPER */
.header {
  background: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 96px;
  display: flex;
  align-items: center;
  z-index: 999;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

/* INNER CONTAINER – FIXED 1300PX HATA DIYA */
.container {
  width: 100%;
  max-width: 1350px;
  padding: 0 40px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

/* LOGO */
.logoBox {
  display: flex;
  align-items: center;
}

.logo {
  max-width: 120px;
  object-fit: contain;
  width: 100%;
  height: 100%;
}

/* NAVIGATION */
.nav {
  display: flex;
  gap: 5px;
  margin: 0 auto;
  font-family: "plus-jakarta-sans", sans-serif;
}

/* LINKS */
.link {
  font-size: 18px;
  text-decoration: none;
  transition: 0.3s;
  color: #13185d;
}
.link:hover {
  background: #ededf1;
  border-radius: 50px;
}
.link:active {
  background: #ededf1;
}
/* ACTIVE PILL SHAPE */
.active {
  padding: 12px 20px;
}

/* NAV HOVER */
.link:hover {
  color: #000;
}


/* RIGHT BUTTON */
.Header-btn {
  margin: 0;
;
}
.button {
  font-family: "plus-jakarta-sans", sans-serif;
  background: #cfd1dd;
  padding: 12px 25px;
  border-radius: 40px;
  font-size: 18px;
  color: #13195c;
  cursor: pointer;
  transition: 0.3s;
  margin: 0;
}

.button:hover {
  background: #d4d7eb;
}

/* RESPONSIVE */
@media (max-width: 1400px) {
  .container {
    max-width: 1100px;
    padding: 0 20px;
  }
}

@media (max-width: 900px) {
  .nav {
    display: none;
  }
}
