.section {
  /* max-width: 1350px; */
  width: 100%;
  padding: 80px 40px;
}

.container {
  max-width: 1350px;
  margin: 0 auto;
  display: flex;
  align-items: end;
  justify-content: space-between;
  gap: 30px;
}

/* LEFT CARD */
.leftCard {
  width: 220px;
  background: linear-gradient(180deg, #ffffff 20%, #cfd7ff 100%);
  padding: 25px 20px;
  border-radius: 28px;
  box-shadow: 0 25px 60px rgba(0, 0, 0, 0.08);
}

.tag {
  display: inline-block;
  padding: 8px 12px;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  background: transparent;
  border-radius: 15px;
  outline: 1px solid #e5e5e5;
}

.cardText {
  font-size: 20px;
}

.profile {
  margin-top: 35px;
}

.role {
  margin-top: 3px;
}

/* CENTER IMAGE */
.centerImage .heroImg {
  border-radius: 30px;
  object-fit: cover;
  width: 350px;
  height: 480px;
}

/* RIGHT */
.rightText {
  flex: 1;
  padding-left: 40px;
}

.quoteIcon {
  font-size: 90px;
  color: #b6c3ff;
  margin-bottom: 20px;
}

.bigText {
  font-size: 24px;
  font-family: "instrument, sans-serif";
  font-style: italic;
  letter-spacing: -0.5px;
}

.userInfo {
  margin-top: 40px;
  display: flex;
  align-items: center;
  gap: 20px;
  border-top: 2px solid #e6e6e6;
  padding-top: 15px;
}

.userImg {
  border-radius: 50%;
  object-fit: cover;
  width: 55px;
  height: 55px;
}

.userName {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}

.userJob {
  font-size: 14px;
  margin-top: 5px;
}
.link {
  font-size: 18px;
  color: #13185d;
  padding: 12px 20px;
  border-radius: 50px;
  transition: 0.3s;
  text-decoration: none;
}

.link:hover {
  background: #ededf1;
}

.active {
  background: #ededf1;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
}
.link {
  font-size: 18px;
  color: #13185d;
  padding: 12px 20px;
  border-radius: 50px;
  transition: 0.3s;
  text-decoration: none;
}

.link:hover {
  background: #ededf1;
}

.active {
  background: #ededf1;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
}
.link {
  font-size: 18px;
  color: #13185d;
  padding: 12px 20px;
  border-radius: 50px;
  transition: 0.3s;
  text-decoration: none;
}

.link:hover {
  background: #ededf1;
}

.active {
  background: #ededf1;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
}
.link {
  font-size: 18px;
  color: #13185d;
  padding: 12px 20px;
  border-radius: 50px;
  transition: 0.3s;
  text-decoration: none;
}

.link:hover {
  background: #ededf1;
}

.active {
  background: #ededf1;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
}
