.section {
  width: 100%;
  max-width: 1350px;
  margin: auto;
  padding: 80px 40px;
}

/* TOP ROW */
.topRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {
  flex: 1;
}

.tag {
  display: inline-block;
  padding: 8px 12px;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  background: transparent;
  border-radius: 15px;
  outline: 1px solid #e5e5e5;
}

.heading {
  font-size: 48px;
  margin-top: 20px;
  font-family: "plus-jakarta-sans , sans-serif";
}

/* RIGHT SIDE BUTTON */
/* .btn {
  background: #0d1440;
  color: white;
  padding: 16px 30px;
  border: none;
  border-radius: 40px;
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.btn svg {
  color: #0d1440;
  background: white;
  border-radius: 50%;
  padding: 5px;
} */

/* BLOG CARDS */
.cardsWrapper {
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.card {
  flex: 1;
  column-count: 2;
  column-gap: 40px;
}

.cardImage {
  width: 100%;
  height: auto;
  border-radius: 18px;
  object-fit: cover;
}

.content {
  margin-top: 20px;
  /* display: flex;
  align-items: start;
  justify-content: end;
  flex-direction: column;
} */
}

.date {
  font-size: 16px;
}

.title {
  font-size: 28px;
  margin: 8px 0;
}

.desc {
  font-size: 17px;
}

/* ROUND BUTTON */
/* .roundBtn {
  margin-top: 18px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 1px solid #e0e0e0;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.roundBtn:hover {
  background: #f5f5f5;
} */
