.section {
  width: 100%;
  max-width: 1350px;
  margin: auto;
  padding: 80px 40px;
}

/* TOP ROW */
.topRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {
  flex: 1;
}

.tag {
  display: inline-block;
  padding: 8px 12px;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  background: transparent;
  border-radius: 15px;
  outline: 1px solid #e5e5e5;
}

.heading {
  font-size: 48px;
  margin-top: 20px;
  font-family: "plus-jakarta-sans , sans-serif";
}

/* RIGHT SIDE BUTTON */
.btn {
  background: #0d1440;
  color: white;
  padding: 16px 30px;
  border: none;
  border-radius: 40px;
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background: #1b3a90;
}

.btn svg {
  color: #0d1440;
  background: white;
  border-radius: 50%;
  padding: 5px;
  width: 28px;
  height: 28px;
}

/* BLOG CARDS */
.cardsWrapper {
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.card {
  flex: 1;
  display: flex;
  gap: 30px;
  align-items: center;
}

.cardImage {
  width: 50%;
  height: auto;
  border-radius: 18px;
  object-fit: cover;
}

.content {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.date {
  font-size: 16px;
  color: #666;
}

.title {
  font-size: 24px;
  margin: 8px 0;
  font-weight: 600;
}

.desc {
  font-size: 16px;
  color: #555;
}

/* ROUND BUTTON */
.roundBtn {
  margin-top: 18px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 1px solid #e0e0e0;
  background: #031d7c;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s;
}
/* .roundBtn svg {
  stroke: white;
} */

.roundBtn:hover {
  background: #1b3a90;
}
/*.roundBtn:hover svg {
  stroke: #1b3a90;
} */

/* RESPONSIVE */
@media (max-width: 1200px) {
  .heading {
    font-size: 40px;
  }
}

@media (max-width: 950px) {
  .section {
    padding: 60px 20px;
  }
  .topRow {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
  .heading {
    font-size: 36px;
    margin-top: 15px;
  }
  .cardsWrapper {
    flex-direction: column;
    gap: 30px;
  }
  .card {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
  .cardImage {
    width: 100%;
  }
  .content {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .heading {
    font-size: 32px;
  }
  .btn {
    width: 100%;
    justify-content: center;
  }
}
