/* [project]/components/ServicesSpecialists/SpecialistsSection.css [app-client] (css) */
.specialists-section {
  text-align: center;
  background: #fff;
  width: 82%;
  margin: auto;
  padding: 50px 40px;
}

.specialists-header .tag {
  background: #f1f3ff;
  border-radius: 20px;
  padding: 6px 18px;
  font-size: 13px;
  display: inline-block;
}

.specialists-header h2 {
  margin-bottom: 50px;
  font-size: 50px;
}

.specialists-grid {
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  gap: 40px;
  display: grid;
}

.specialist-card {
  background: #fff;
  border-radius: 20px;
  padding: 25px;
  transition: transform .3s;
  box-shadow: 0 25px 60px #00000014;
}

.specialist-card:hover {
  transform: translateY(-10px);
}

.specialist-img img {
  border-radius: 16px;
  width: 100%;
  height: auto;
}

.specialist-card h3 {
  margin-top: 18px;
  font-size: 20px;
}

.specialist-card p {
  margin-top: 6px;
  font-size: 16px;
}

@media (max-width: 991px) {
  .specialists-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 576px) {
  .specialists-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 768px) {
  .services-section {
    padding: 50px 20px;
  }

  .service-img {
    height: 150px;
  }
}

/* [project]/components/ServicesDental/Services.css [app-client] (css) */
.services-section {
  background-color: #f9f9f9;
  justify-content: center;
  padding: 80px 40px;
  display: flex;
}

.services-container {
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
  width: 100%;
  max-width: 1349px;
  display: grid;
}

.service-card {
  background: linear-gradient(to bottom right, #fff, #d8dcf2);
  border-radius: 15px;
  transition: all .3s;
  overflow: hidden;
  box-shadow: 0 4px 10px #0000000d;
}

.service-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 20px #0000001a;
}

.service-img {
  object-fit: cover;
  width: 100%;
  height: auto;
}

.service-content {
  text-align: left;
  padding: 20px;
}

.service-content h3 {
  margin-bottom: 8px;
  font-size: 1.2rem;
}

.service-content p {
  font-size: .95rem;
}

/* [project]/components/PricingCards/PricingCards.css [app-client] (css) */
.pricing-cards-section {
  background-color: #f9f9f9;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  padding: 80px 10px;
  display: flex;
}

.pricing-card {
  text-align: left;
  border-radius: 20px;
  flex: 1;
  min-width: 250px;
  max-width: 350px;
  padding: 40px 30px;
  transition: all .3s;
  box-shadow: 0 4px 15px #00000014;
}

.pricing-card.light {
  color: #0a0a3a;
  background: linear-gradient(#fff, #d8dbfa);
}

.pricing-card.dark {
  color: #fff;
  background: linear-gradient(to right, #1a247d 20%, #161c56 80%);
}

.card-title {
  text-align: center;
  margin-bottom: 25px;
  font-size: 1.6rem;
}

.card-list {
  margin: 0 0 30px;
  padding: 0;
  list-style: none;
}

.card-list li {
  border-bottom: 1px dashed #0000001a;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  font-size: 1rem;
  display: flex;
}

.dark .card-list li {
  border-color: #fff3;
}

@media (max-width: 992px) {
  .pricing-cards-section {
    flex-direction: column;
    align-items: center;
  }

  .pricing-card {
    max-width: 500px;
  }
}

/* [project]/components/Banner/Banner.css [app-client] (css) */
.hero-section {
  text-align: center;
  background: linear-gradient(to right, #f5f5f5, #aeb6e6);
  border-radius: 16px;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 40vh;
  margin-top: 60px;
  padding: 60px 20px;
  display: flex;
}

.hero-content {
  max-width: 800px;
}

.hero-tag {
  text-transform: uppercase;
  margin: 0;
  font-family: plus-jakarta-sans;
  font-size: 13px;
}

.hero-heading {
  margin-top: 10px;
  font-size: 68px;
  font-weight: 500;
}

.hero-heading span {
  font-family: instrument\, sans-serif;
  font-style: italic;
  font-weight: 300;
  display: inline-block;
}

/*# sourceMappingURL=components_baf8240b._.css.map*/