/* [project]/components/WhyChooseUs/WhyChooseUs.module.css [app-client] (css) */
.WhyChooseUs-module__49_FRW__section {
  width: 100%;
  max-width: 1250px;
  margin: auto;
  padding: 80px 40px;
}

.WhyChooseUs-module__49_FRW__tag {
  text-transform: uppercase;
  background: none;
  border-radius: 15px;
  outline: 1px solid #e5e5e5;
  padding: 8px 12px;
  font-size: 13px;
  font-weight: 400;
  display: inline-block;
}

.WhyChooseUs-module__49_FRW__topRow, .WhyChooseUs-module__49_FRW__headingWrapper {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.WhyChooseUs-module__49_FRW__certBox {
  align-items: center;
  gap: 5px;
  display: flex;
}

.WhyChooseUs-module__49_FRW__certTitle {
  margin-top: 0;
  font-size: 16px;
}

.WhyChooseUs-module__49_FRW__visitLink {
  color: #2b7ae2;
  align-items: center;
  gap: 6px;
  font-size: 18px;
  font-weight: 500;
  display: flex;
}

.WhyChooseUs-module__49_FRW__visitLink:hover {
  color: #11175c;
}

.WhyChooseUs-module__49_FRW__heading {
  margin-top: 25px;
  font-size: 50px;
}

.WhyChooseUs-module__49_FRW__cards {
  grid-template-columns: repeat(4, 1fr);
  gap: 0;
  margin-top: 50px;
  display: grid;
}

.WhyChooseUs-module__49_FRW__card {
  background: #fff;
  flex-direction: column;
  gap: 18px;
  padding: 35px 30px;
  display: flex;
  box-shadow: 0 20px 50px #0000000f;
}

.WhyChooseUs-module__49_FRW__card:first-child {
  border-radius: 22px 0 0 22px;
}

.WhyChooseUs-module__49_FRW__iconCircle {
  background: #f5f7ff;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 65px;
  height: 65px;
  display: flex;
}

.WhyChooseUs-module__49_FRW__card h3 {
  font-size: 20px;
}

.WhyChooseUs-module__49_FRW__card p {
  font-size: 15px;
}

.WhyChooseUs-module__49_FRW__imageCard {
  border-radius: 0 22px 22px 0;
  position: relative;
  overflow: hidden;
}

.WhyChooseUs-module__49_FRW__img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.WhyChooseUs-module__49_FRW__overlay {
  color: #fff;
  background: linear-gradient(to top, #0009, #0000);
  border-radius: 22px;
  width: 100%;
  padding: 25px;
  font-size: 22px;
  position: absolute;
  bottom: 0;
}

@media (max-width: 1200px) {
  .WhyChooseUs-module__49_FRW__headingWrapper {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  .WhyChooseUs-module__49_FRW__certBox {
    justify-content: flex-start;
    width: 100%;
  }
}

@media (max-width: 1020px) {
  .WhyChooseUs-module__49_FRW__cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .WhyChooseUs-module__49_FRW__imageCard {
    border-radius: 22px;
    height: 350px;
  }

  .WhyChooseUs-module__49_FRW__card {
    border-radius: 22px;
  }
}

@media (max-width: 650px) {
  .WhyChooseUs-module__49_FRW__section {
    padding: 60px 20px;
  }

  .WhyChooseUs-module__49_FRW__cards {
    grid-template-columns: 1fr;
  }

  .WhyChooseUs-module__49_FRW__heading {
    font-size: 32px;
  }

  .WhyChooseUs-module__49_FRW__topRow {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }

  .WhyChooseUs-module__49_FRW__certBox {
    flex-direction: row;
    align-items: flex-start;
  }

  .WhyChooseUs-module__49_FRW__certTitle {
    font-size: 14px;
  }

  .WhyChooseUs-module__49_FRW__visitLink {
    font-size: 16px;
  }
}

/*# sourceMappingURL=components_WhyChooseUs_WhyChooseUs_module_css_bad6b30c._.single.css.map*/