/* [project]/components/AppointmentSection/AppointmentSection.module.css [app-client] (css) */
.AppointmentSection-module__EscrzW__section {
  background: linear-gradient(to right, #fff 0%, #b6baf9 100%);
  border-radius: 18px;
  width: 100%;
  max-width: 1350px;
  margin: auto;
  padding: 80px 40px;
}

.AppointmentSection-module__EscrzW__container {
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  max-width: 1350px;
  margin: auto;
  display: flex;
}

.AppointmentSection-module__EscrzW__left {
  flex: 1;
}

.AppointmentSection-module__EscrzW__right {
  flex: 1;
  justify-content: center;
  display: flex;
}

.AppointmentSection-module__EscrzW__tag {
  background: #e9edfb;
  border-radius: 12px;
  padding: 8px 16px;
  font-size: 14px;
}

.AppointmentSection-module__EscrzW__heading {
  margin: 20px 0 40px;
  font-size: 48px;
}

.AppointmentSection-module__EscrzW__AppointmentForm {
  width: 100%;
}

.AppointmentSection-module__EscrzW__imageBox {
  border-radius: 20px;
  overflow: hidden;
}

.AppointmentSection-module__EscrzW__heroImg {
  object-fit: cover;
  border-radius: 20px;
  width: 100%;
  height: auto;
}

.AppointmentSection-module__EscrzW__AppointmentForm {
  text-align: left;
  border-radius: 20px;
  width: 100%;
  max-width: 550px;
  margin-bottom: 50px;
  padding: 50px 0;
}

.AppointmentSection-module__EscrzW__formRow {
  flex-wrap: wrap;
  gap: 20px;
  display: flex;
}

.AppointmentSection-module__EscrzW__formGroup {
  flex-direction: column;
  flex: 1;
  margin-bottom: 30px;
  display: flex;
}

.AppointmentSection-module__EscrzW__formGroup input, .AppointmentSection-module__EscrzW__formGroup textarea {
  background: none;
  border: none;
  border-bottom: 1px solid #d9d9d9;
  padding: 10px 5px;
}

.AppointmentSection-module__EscrzW__formGroup input::placeholder, .AppointmentSection-module__EscrzW__formGroup textarea::placeholder {
  font-size: 15px;
}

.AppointmentSection-module__EscrzW__formBtn {
  color: #fff;
  cursor: pointer;
  background: #13195c;
  border: none;
  border-radius: 40px;
  padding: 15px 30px;
  font-size: 16px;
  font-weight: 400;
}

.AppointmentSection-module__EscrzW__formBtn svg {
  color: #0d1440;
  background: #fff;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  padding: 5px;
}

@media (max-width: 1200px) {
  .AppointmentSection-module__EscrzW__container {
    gap: 40px;
  }

  .AppointmentSection-module__EscrzW__heading {
    font-size: 40px;
  }
}

@media (max-width: 950px) {
  .AppointmentSection-module__EscrzW__section {
    padding: 60px 20px;
  }

  .AppointmentSection-module__EscrzW__container {
    flex-direction: column;
    gap: 40px;
  }

  .AppointmentSection-module__EscrzW__left {
    width: 100%;
  }

  .AppointmentSection-module__EscrzW__right {
    justify-content: center;
    width: 100%;
  }

  .AppointmentSection-module__EscrzW__heading {
    margin: 20px 0 30px;
    font-size: 36px;
  }

  .AppointmentSection-module__EscrzW__AppointmentForm {
    max-width: 100%;
    margin-bottom: 20px;
    padding: 20px 0;
  }

  .AppointmentSection-module__EscrzW__imageBox {
    width: 100%;
    max-width: 500px;
  }
}

@media (max-width: 600px) {
  .AppointmentSection-module__EscrzW__formRow {
    flex-direction: column;
    gap: 0;
  }

  .AppointmentSection-module__EscrzW__heading {
    font-size: 32px;
  }
}

/*# sourceMappingURL=components_AppointmentSection_AppointmentSection_module_css_bad6b30c._.single.css.map*/