/* [project]/components/Footer/Footer.module.css [app-client] (css) */
.Footer-module__rnk_JG__footer {
  color: #fff;
  background: #050922;
  border-radius: 20px 20px 0 0;
  padding: 80px 50px;
}

.Footer-module__rnk_JG__container {
  justify-content: space-between;
  align-items: flex-start;
  gap: 120px;
  max-width: 1350px;
  margin: auto;
  display: flex;
}

.Footer-module__rnk_JG__company {
  flex: 1;
}

.Footer-module__rnk_JG__footerlogo img {
  object-fit: contain;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 100%;
  display: flex;
}

.Footer-module__rnk_JG__logo h2 {
  font-size: 28px;
}

.Footer-module__rnk_JG__address {
  color: #c5c9e6;
  margin-top: 40px;
}

.Footer-module__rnk_JG__copy {
  color: #c5c9e6;
  margin-top: 30px;
  font-size: 14px;
}

.Footer-module__rnk_JG__copy span {
  text-decoration: underline;
}

.Footer-module__rnk_JG__whiteBox {
  color: #0d1440;
  background: #fff;
  border-radius: 20px;
  flex: 1;
  min-width: 220px;
  padding: 35px;
}

.Footer-module__rnk_JG__whiteText {
  font-size: 20px;
}

.Footer-module__rnk_JG__phone {
  margin-top: 25px;
  font-size: 28px;
}

.Footer-module__rnk_JG__email {
  margin-top: 8px;
  font-size: 17px;
  text-decoration: underline;
  display: inline-block;
}

.Footer-module__rnk_JG__links h4 {
  color: #d9ddff;
  flex: 1;
  margin-bottom: 20px;
  font-size: 20px;
}

.Footer-module__rnk_JG__linkGrid {
  grid-template-columns: repeat(1, auto);
  gap: 12px 40px;
  display: grid;
}

.Footer-module__rnk_JG__linkGrid a {
  color: #d9ddff;
  cursor: pointer;
  font-size: 17px;
}

.Footer-module__rnk_JG__socials h4 {
  color: #d9ddff;
  font-size: 20px;
}

.Footer-module__rnk_JG__socials {
  flex-direction: column;
  gap: 20px;
  display: flex;
}

.Footer-module__rnk_JG__socialicons {
  gap: 20px;
  display: flex;
}

.Footer-module__rnk_JG__icon {
  color: #fff;
  cursor: pointer;
  border: 1px solid #fff3;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  margin-bottom: 20px;
  font-size: 18px;
  transition: all .3s;
  display: flex;
}

.Footer-module__rnk_JG__icon:hover {
  background: #ffffff1a;
  border-color: #fff;
}

@media (max-width: 1200px) {
  .Footer-module__rnk_JG__container {
    flex-wrap: wrap;
    gap: 40px;
  }

  .Footer-module__rnk_JG__company, .Footer-module__rnk_JG__links, .Footer-module__rnk_JG__newsletter {
    flex: 250px;
  }

  .Footer-module__rnk_JG__whiteBox {
    flex: 100%;
    order: 0;
  }
}

@media (max-width: 992px) {
  .Footer-module__rnk_JG__footer {
    padding: 60px 30px;
  }

  .Footer-module__rnk_JG__whiteBox {
    order: -1;
  }
}

@media (max-width: 768px) {
  .Footer-module__rnk_JG__footer {
    padding: 50px 20px;
  }

  .Footer-module__rnk_JG__container {
    flex-direction: column;
    gap: 40px;
  }

  .Footer-module__rnk_JG__company, .Footer-module__rnk_JG__whiteBox, .Footer-module__rnk_JG__links, .Footer-module__rnk_JG__newsletter {
    flex: auto;
    width: 100%;
  }

  .Footer-module__rnk_JG__inputBox {
    width: 100%;
  }

  .Footer-module__rnk_JG__logo h2 {
    font-size: 24px;
  }
}

@media (max-width: 480px) {
  .Footer-module__rnk_JG__linkGrid {
    grid-template-columns: 1fr;
    gap: 15px;
  }

  .Footer-module__rnk_JG__whiteBox {
    padding: 25px;
  }

  .Footer-module__rnk_JG__whiteText {
    font-size: 18px;
  }

  .Footer-module__rnk_JG__phone {
    font-size: 24px;
  }

  .Footer-module__rnk_JG__inputBox {
    padding: 10px 15px;
  }
}

/*# sourceMappingURL=components_Footer_Footer_module_css_bad6b30c._.single.css.map*/