.section {
  width: 100%;
  padding: 80px 40px;
}

.container {
  max-width: 1400px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 70px;
}

/* LEFT SIDE */
.left {
  flex: 1;
}

.tag {
  display: inline-block;
  padding: 8px 12px;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  background: transparent;
  border-radius: 15px;
  outline: 1px solid #e5e5e5;
}

.heading {
  margin: 25px 0 40px;
  font-size: 55px;
  font-family: "plus-jakarta-sans , sans-serif";
}

/* .btn {
  background: #0d1440;
  color: white;
  padding: 16px 30px;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 10px;
}

.btn svg {
  background: white;
  color: #0d1440;
  border-radius: 50%;
  padding: 5px;
} */

/* RIGHT SIDE CARD */
.right {
  flex: 1.2;
  display: flex;
  justify-content: center;
}

.card {
  width: 100%;
  max-width: 500px;
  border-radius: 26px;
  overflow: hidden;
  background: white;
  box-shadow: 0 25px 60px rgba(0, 0, 0, 0.06);
}

.heroImg {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-bottom: 1px solid #eee;
}

.info {
  padding: 10px 20px;
}

.info h3 {
  font-size: 20px;
}

.info p {
  font-size: 16px;
  margin-top: 6px;
}
