.section {
  max-width: 1350px;
  width: 100%;
  padding: 80px 40px;
  margin: auto;
}

.container {
  max-width: 1400px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 70px;
}

/* LEFT SIDE */
.left {
  flex: 1;
}

.tag {
  display: inline-block;
  padding: 8px 12px;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  background: transparent;
  border-radius: 15px;
  outline: 1px solid #e5e5e5;
}

.heading {
  margin: 25px 0 40px;
  font-size: 55px;
  font-family: "plus-jakarta-sans , sans-serif";
}

.btn {
  background: #0d1440;
  color: white;
  padding: 16px 30px;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: 0.3s;
}

.btn:hover {
  background: #1b3a90;
}

.btn svg {
  background: white;
  color: #0d1440;
  border-radius: 50%;
  padding: 5px;
  width: 28px;
  height: 28px;
}

/* RIGHT SIDE CARD */
.right {
  flex: 1.2;
  display: flex;
  justify-content: center;
}

.card {
  width: 100%;
  max-width: 500px;
  border-radius: 26px;
  overflow: hidden;
  background: white;
  box-shadow: 0 25px 60px rgba(0, 0, 0, 0.06);
}

.heroImg {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-bottom: 1px solid #eee;
}

.info {
  padding: 20px 25px;
}

.info h3 {
  font-size: 22px;
  margin-bottom: 5px;
}

.info p {
  font-size: 16px;
  color: #666;
}

/* RESPONSIVE */
@media (max-width: 1200px) {
  .container {
    gap: 40px;
  }
  .heading {
    font-size: 48px;
  }
}

@media (max-width: 950px) {
  .section {
    padding: 60px 20px;
  }
  .container {
    flex-direction: column;
    text-align: center;
    gap: 40px;
  }
  .left {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .heading {
    font-size: 36px;
    margin: 20px 0 30px;
  }
  .right {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .heading {
    font-size: 32px;
  }
  .btn {
    width: 100%;
    justify-content: center;
  }
}
