.section {
  width: 100%;
  max-width: 1100px;
  margin: auto;
  padding: 80px 40px;
}

.tag {
  background: #e9edfb;
  padding: 6px 14px;
  font-size: 14px;
  border-radius: 8px;
}

.topRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* 
.moreBtn {
  background: #0d1440;
  color: #fff;
  border: none;
  padding: 14px 28px;
  border-radius: 40px;
  font-size: 17px;
  display: flex;
  gap: 10px;
  align-items: center;
  cursor: pointer;
} */

.heading {
  font-size: 50px;
  margin-top: 25px;
}

.wrapper {
  margin-top: 50px;
  display: flex;
  gap: 40px;
  align-items: flex-start;
}

.left {
  flex: 1;
}

.serviceItem {
  font-size: 20px;
  color: #0d1440;
  padding: 22px 0;
  border-bottom: 1px solid #e6e6e6;
  display: flex;
  align-items: center;
  gap: 18px;
  cursor: pointer;
  transition: 0.25s;
}

.serviceItem:hover {
  color: #1b3a90;
}

.active {
  color: #1b3a90;
  font-weight: 700;
}

.number {
  font-size: 18px;
  color: #9aa3c0;
}
 .right {
  flex: 2;              
  /* height: 500vh; */
  display: flex;
  flex-direction: row;
  gap: 25px;
  align-items: flex-start;
}
.imageBox {
  position: relative;
  width: 100%;
  height: 420px;       
}

.heroImg {
  object-fit: cover;   
  border-radius: 18px;
}


.imageBox {
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  
}

.fade {
  opacity: 0;
  transform: scale(0.98);
}

.show {
  opacity: 1;
  transform: scale(1);
}

.heroImg {
  border-radius: 18px;
  width: 100%;
  height: auto;
}
.people {
  display: flex;
  gap: -10px;
  margin-top: 15px;

}
.testimonial {
  width: 150px;
  padding: 35px;
  border-radius: 26px;
  background: linear-gradient(140deg, #ffffff 0%, #e9f1ff 100%);
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.06);
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-shrink: 0;
}

.quote {
  font-size: 20px;
}

.avatars {
  display: flex;
  align-items: center;
  gap: -10px;
}

.avatars img {
  border-radius: 50%;
  border: 3px solid #fff;
  width: 48px;
  height: 48px;
  object-fit: cover;
}




.imageWrapper {
  flex: 1.5;           
  display: flex;
}


.heroImg {
  border-radius: 18px;
  width: 100%;
  height: auto;
}


.people img {
  border-radius: 50%;
  border: 2px solid #fff;
}

/* RESPONSIVE */
@media (max-width: 950px) {
  .wrapper {
    flex-direction: column;
  }
}
