.section {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 80px 40px;
}
.tag {
  background: #e9edfb;
  padding: 6px 14px;
  font-size: 14px;
  border-radius: 8px;
}
.topRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.certBox {
  display: flex;
  align-items: center;
  gap: 5px;
}
.certTitle {
  font-size: 16px;
}
.visitLink {
  text-decoration: underline;
  display: flex;
  align-items: center;
  gap: 6px;
}
.heading {
  font-size: 50px;
  margin-top: 25px;
}
.cards {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 22px;
}
.card {
  background: #ffffff;
  padding: 35px 30px;
  border-radius: 22px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.06);
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.iconCircle {
  width: 65px;
  height: 65px;
  background: #f5f7ff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.card h3 {
  font-size: 20px;
}
.card p {
  font-size: 15px;
}
/* RIGHT IMAGE CARD */
.imageCard {
  border-radius: 22px;
  overflow: hidden;
  position: relative;
}
.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 25px;
  color: white;
  font-size: 22px;
  background: linear-gradient(to top, rgba(0,0,0,0.6), transparent);
  border-radius: 22px;
}

/*  RESPONSIVE */
@media (max-width: 1020px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .imageCard {
    height: 350px;
  }
}

@media (max-width: 650px) {
  .cards {
    grid-template-columns: repeat(1, 1fr);
  }
  .heading {
    font-size: 36px;
  }
  .topRow {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }
}
