.contact-info-section {
  background: #f9f9f9;
  padding: 80px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-info-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 150px;
  text-align: center;
  max-width: 1300px;
  width: 100%;
}
.contact-info-box {
  display: flex;
  flex-direction: column;
  align-items: start;
  /* flex: 1 1 250px; */
}
.icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  background: #ededf1;
  border-radius: 50%;
  margin-bottom: 10px;
}
.contact-info-box h4 {
  font-size: 16px;
  margin-bottom: 10px;
}
.number-link,
.email-link,
.hours-link {
  font-size: 18px;
  text-decoration: underline;
  text-underline-offset: 2px;
  transition: color 0.3s ease;
  color: #13185d;
  cursor: pointer;
}
.hours-link {
  margin: 0px;
}
.number-link:hover {
  color: #4a8be5;
}
.hours-link:hover {
  color: #4a8be5;
}
.email-link:hover {
  color: #4a8be5;
}
