.section {
  max-width: 1350px;
  width: 100%;
  background: linear-gradient(to right, #ffffff 0%, #b6baf9 100%);
  padding: 80px 40px;
  border-radius: 18px;
  margin: auto;
}

.container {
  max-width: 1350px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
}
.left {
  flex: 1;
}
.right {
  flex: 1;
  display: flex;
  justify-content: center;
}
.tag {
  background: #e9edfb;
  padding: 8px 16px;
  border-radius: 12px;
  font-size: 14px;
}

.heading {
  font-size: 48px;
  margin: 20px 0 40px;
}

.AppointmentForm {
  width: 100%;
}

.imageBox {
  border-radius: 20px;
  overflow: hidden;
}

.heroImg {
  width: 100%;
  height: auto;
  border-radius: 20px;
  object-fit: cover;
}
.AppointmentForm {
  max-width: 550px;
  width: 100%;
  padding: 50px 0;
  border-radius: 20px;
  text-align: left;
  margin-bottom: 50px;
}
.formRow {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.formGroup {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.formGroup input,
.formGroup textarea {
  background: transparent;
  border: none;
  border-bottom: 1px solid #d9d9d9;
  padding: 10px 5px;
}
.formGroup input::placeholder,
.formGroup textarea::placeholder {
  font-size: 15px;
}

.formBtn {
  background: #13195c;
  color: white;
  padding: 15px 30px;
  border-radius: 40px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  /* width: 100%; */
  font-weight: 400;
}
.formBtn svg {
  background: white;
  color: #0d1440;
  border-radius: 50%;
  padding: 5px;
  width: 28px;
  height: 28px;

}

/* RESPONSIVE */
@media (max-width: 1200px) {
  .container {
    gap: 40px;
  }
  .heading {
    font-size: 40px;
  }
}

@media (max-width: 950px) {
  .section {
    padding: 60px 20px;
  }
  .container {
    flex-direction: column;
    gap: 40px;
  }
  .left {
    width: 100%;
  }
  .right {
    width: 100%;
    justify-content: center;
  }
  .heading {
    font-size: 36px;
    margin: 20px 0 30px;
  }
  .AppointmentForm {
    padding: 20px 0;
    max-width: 100%;
    margin-bottom: 20px;
  }
  .imageBox {
    max-width: 500px;
    width: 100%;
  }
}

@media (max-width: 600px) {
  .formRow {
    flex-direction: column;
    gap: 0;
  }
  .heading {
    font-size: 32px;
  }
}
