.section {
  width: 100%;
  background: linear-gradient(to right, #ffffff 0%, #b6baf9 100%);
  padding: 80px 40px;
  border-radius: 18px;
}

.container {
  max-width: 1350px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
}

.left {
  flex: 1;
}

.right {
  flex: 1;
  display: flex;
  justify-content: center;
}

.tag {
  background: #e9edfb;
  padding: 8px 16px;
  border-radius: 12px;
  font-size: 14px;
}

.heading {
  font-size: 48px;
  margin: 20px 0 40px;
}

.AppointmentForm {
  width: 100%;
}

.imageBox {
  border-radius: 20px;
  overflow: hidden;
}

.heroImg {
  width: 100%;
  height: auto;
  border-radius: 20px;
  object-fit: cover;
}
.AppointmentForm {
  max-width: 550px;
  width: 100%;
  padding: 50px 0;
  border-radius: 20px;
  text-align: left;
  margin-bottom: 50px;
}
.formRow {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.formGroup {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.formGroup input,
.formGroup textarea {
  background: transparent;
  border: none;
  border-bottom: 1px solid #d9d9d9;
  padding: 10px 5px;

}
.formGroup input::placeholder,
.formGroup textarea::placeholder {

  font-size: 15px;
} 
